 .flex-container {
    display: inline;
    white-space: nowrap;
    flex-wrap: nowrap;
    margin: 0 auto;
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
    text-align: center;
    justify-content: center;
    background: white;
    transition-duration: 60s;
    border-width: 5px;
    border-style: solid;

    width: auto;
}
.flex-container:hover {
    display: inline;
    white-space: nowrap;
    flex-wrap: nowrap;
    margin: 0 auto;
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
    text-align: center;
    justify-content: center;
    background: black;
    transition-duration: 1s;
    border-width: 5px;
    border-style: solid;
}
.break {
    flex-basis: 100%;
    height: 50px;  
}
#container {
    text-align: center;
    border:mintcream;
    border-width: 5%;
    border-style: solid;
    padding: 5%;


}
body {
    background-color: maroon;
}
h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
.select {
    margin-right: auto;
    margin-left: auto;
    display: inline;
}
#btn {

}
ul {
    list-style-type: none;
    background-color: maroon;
}
li {
    float: left;
    justify-content: center;
    text-align: center;
    justify-content: center;
    margin-right: 2%;

    
}
p {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-align: center;
    margin-top: 6px;
}